.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.inline-block {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.none,
[hidden],
.no-desktop {
  display: none;
}
.heavy {
  font-weight: 900;
}
.strong {
  font-weight: 700;
}
.normal {
  font-weight: normal;
}
.thin {
  font-weight: 300;
}
.italic {
  font-style: italic;
}
.capitalize {
  text-transform: capitalize;
}
.uppercase {
  text-transform: uppercase;
}
.left-text {
  text-align: left;
}
.right-text {
  text-align: right;
}
.center-text {
  text-align: center;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  left: -9999em;
}
.visuallyvisible {
  clip: auto;
  width: auto;
  height: auto;
  overflow: visible;
  left: 0;
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/**
* Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/)
* http://cssreset.com
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Alegreya Sans', sans-serif;
  color: #f4f7f7;
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 28px;
  line-height: 1.75rem;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
b,
strong {
  font-weight: 700;
}
i,
em,
.em {
  font-style: italic;
}
a {
  color: #849235;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
p {
  margin: 0 0 0.6em 0;
}
pre {
  margin: 1em 0;
}
ul + p,
ul + pre,
ol + p,
ol + pre {
  margin-top: 0;
}
small {
  font-size: 80%;
}
abbr[title] {
  border-bottom: 1px dotted;
}
audio,
canvas,
video {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dfn {
  font-style: italic;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
.image-left {
  margin-right: 20px;
}
.image-right {
  margin-left: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 .25em .25em;
  color: #f4f7f7;
  text-transform: uppercase;
  line-height: normal;
  font-weight: 600;
}
h1,
.h1 {
  font-size: 40px;
  font-size: 2.5rem;
}
h2,
.h2 {
  font-size: 32px;
  font-size: 2rem;
}
h3,
.h3 {
  font-size: 26px;
  font-size: 1.625rem;
}
h4,
.h4 {
  font-size: 20px;
  font-size: 1.25rem;
}
h5,
.h5 {
  font-size: 18px;
  font-size: 1.125rem;
}
h6,
.h6 {
  font-size: 16px;
  font-size: 1rem;
}
.no-style-heading {
  margin: 0;
  font-size: 100%;
}
hr {
  border: 0;
  background: none;
  outline: 0;
  background-color: #ddd;
  margin: 2em 0;
  *margin: 1em 0;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 1px;
}
blockquote {
  font-size: 22px;
  font-size: 1.375rem;
  line-height: 32px;
  line-height: 2rem;
  color: #d6e2e2;
  margin: 1em 0;
  font-style: italic;
}
blockquote p {
  margin: 1em 0;
}
cite {
  color: #434343;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  font-size: 1rem;
  line-height: normal;
}
q {
  font-style: italic;
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
mark {
  background: #ff0;
  color: #111;
}
code,
kbd,
pre,
samp {
  word-wrap: break-word;
  font-family: 'courier new', monospace, serif;
  font-size: 13px;
  font-size: 0.8125rem;
  line-height: normal;
  font-weight: normal;
  background-color: #f1f1f1;
  padding: 10px;
}
code {
  color: #111;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd,
ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}
dt {
  font-weight: normal;
}
dd {
  margin-bottom: 1em;
}
menu,
ol,
ul {
  padding: 0 0 0 22px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
.unstyled-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.unstyled-list li {
  margin-top: 0;
  margin-bottom: 0;
}
.inline-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
.inline-list li {
  margin-top: 0;
  margin-bottom: 0;
}
.inline-list li {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}
table {
  width: 100%;
  margin: 1em 0;
  table-layout: fixed;
  border-collapse: collapse;
  border-spacing: 0;
  border-right: 1px solid #f1f1f1;
  border-bottom: 1px solid #f1f1f1;
  word-wrap: break-word;
  -ms-word-wrap: break-word;
  *white-space: normal;
}
table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
}
table thead th,
table tfoot th {
  vertical-align: bottom;
  font-weight: normal;
  background-color: #f1f1f1;
  color: #333;
}
table caption {
  padding: 8px;
  font-style: normal;
  text-align: left;
  font-weight: normal;
  border-bottom: 0;
}
fieldset {
  border: 0;
  padding: 0;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
  font-weight: normal;
}
label {
  margin: 0;
  cursor: pointer;
}
button,
input,
select,
textarea {
  font-size: 100%;
  vertical-align: baseline;
  *vertical-align: middle;
  font-family: 'Alegreya Sans', sans-serif;
  color: #526412;
}
input[type=text],
input[type=password],
input[type=email],
input[type=search],
input[type=tel],
textarea {
  padding: 0.25em;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-weight: normal;
  line-height: normal;
  background-color: #fff;
  color: #111;
  border: 1px solid #ccc;
}
input[type=checkbox],
input[type=radio] {
  cursor: pointer;
  box-sizing: border-box;
  line-height: normal;
  margin: 0;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
.checkbox {
  display: block;
  margin: .2em 0;
}
.checkbox input[type=checkbox],
.checkbox input[type=radio] {
  margin-top: .05em;
  float: left;
}
.checkbox label {
  padding-left: 5px;
  overflow: hidden;
  display: table;
  *zoom: 1;
}
button,
input {
  line-height: normal;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  min-height: 1.75em;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrap {
  background-size: 100%;
}
.inner {
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.inner:before,
.inner:after {
  content: "";
  display: table;
}
.inner:after {
  clear: both;
}
.parallax-bg {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: #b3cbe1;
}
.parallax-bg img {
  position: absolute;
  bottom: 0;
  width: 100%;
  marign: 0 auto;
}
@font-face {
  font-family: 'icomoon';
  src: url('/font/icomoon.eot?-cnkst5');
  src: url('/font/icomoon.eot?#iefix-cnkst5') format('embedded-opentype'), url('/font/icomoon.woff?-cnkst5') format('woff'), url('/font/icomoon.ttf?-cnkst5') format('truetype'), url('/font/icomoon.svg?-cnkst5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  margin-left: 0.25em;
  margin-right: 0.25em;
}
.icon-phone:before {
  content: "\e600";
}
.icon-mobile:before {
  content: "\e601";
}
.icon-googleplus:before {
  content: "\e602";
}
.icon-facebook:before {
  content: "\e603";
}
.icon-twitter:before {
  content: "\e604";
}
.icon-envelope:before {
  content: "\e605";
}
.icon-smile:before {
  content: "\e606";
}
header {
  margin-bottom: 1em;
  background: #f4f7f7;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.25);
}
header .inner .brand {
  display: inline;
  float: left;
  width: 31.25%;
  margin-left: 1.0416666666666665%;
  margin-right: 1.0416666666666665%;
  letter-spacing: -1.5px;
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  font-size: 1.875rem;
  line-height: 80px;
  line-height: 5rem;
  font-weight: 900;
  color: #849235;
  text-shadow: 0px 1px #526412, 0px 2px #2c3b14;
}
header .inner .brand a {
  text-decoration: none;
}
@media only screen and (max-width: 739px) {
  header .inner .brand {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
    line-height: 60px;
    line-height: 3.75rem;
  }
}
header .inner nav {
  display: inline;
  float: left;
  width: 64.58333333333334%;
  margin-left: 1.0416666666666665%;
  margin-right: 1.0416666666666665%;
  margin-top: 2.4em;
}
header .inner nav ul {
  *zoom: 1;
  padding: 0;
  margin: 0;
}
header .inner nav ul:before,
header .inner nav ul:after {
  content: "";
  display: table;
}
header .inner nav ul:after {
  clear: both;
}
header .inner nav ul li {
  display: inline;
  float: left;
  width: 12.5%;
  margin-left: 2.083333333333333%;
  margin-right: 2.083333333333333%;
}
header .inner nav ul li a {
  font-weight: 400;
  display: block;
  text-align: center;
}
header .inner nav ul li a.current {
  border-bottom: 0.2em solid #849235;
  font-weight: 900;
}
@media only screen and (max-width: 739px) {
  header .inner nav ul li:first-of-type {
    display: none;
  }
}
@media only screen and (max-width: 739px) {
  header .inner nav ul li:last-of-type a {
    color: #de3638;
  }
  header .inner nav ul li:last-of-type [class^="icon-"],
  header .inner nav ul li:last-of-type [class*=" icon-"] {
    display: none;
  }
}
@media only screen and (min-width: 740px) and (max-width: 960px), only screen and (min-width: 960px) {
  header .inner nav ul li:last-of-type {
    position: absolute;
    top: 0;
    right: 0;
    width: auto;
    line-height: 2em;
    background: #de3638;
    box-shadow: 0 0.25em 0.25em rgba(0, 0, 0, 0.25) inset;
    border-radius: 0 0 0.5em 0.5em;
  }
  header .inner nav ul li:last-of-type a {
    border-bottom: medium none !important;
    padding: 0 0.5em;
    text-decoration: none;
    color: #f4f7f7;
    font-weight: 600;
    transition: all 0.1s ease;
  }
  header .inner nav ul li:last-of-type a [class^="icon-"],
  header .inner nav ul li:last-of-type a [class*=" icon-"] {
    margin-right: 0;
    font-size: 24px;
    vertical-align: top;
    line-height: 1.6666666666666667em;
  }
  header .inner nav ul li:last-of-type a:hover {
    padding-top: 0.25em;
  }
}
@media only screen and (max-width: 739px) {
  header .inner nav {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
    margin-top: 0;
    margin-bottom: 0.25em;
  }
  header .inner nav ul li {
    display: inline;
    float: left;
    width: 29.166666666666668%;
    margin-left: 2.083333333333333%;
    margin-right: 2.083333333333333%;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
  }
  header .inner nav ul li a.current {
    border: medium none;
  }
}
footer {
  background: #f4f7f7;
  color: #849235;
  font-weight: 600;
  font-size: 0.75em;
  text-align: center;
  line-height: 2em;
}
html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
}
.ie7 .wrap {
  display: table;
  height: 100%;
}
main {
  overflow: auto;
  padding-bottom: 2em;
}
footer {
  position: relative;
  margin-top: -2em;
  height: 2em;
  clear: both;
}
body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}
.page article {
  display: inline;
  float: left;
  width: 72.91666666666666%;
  margin-left: 1.0416666666666665%;
  margin-right: 1.0416666666666665%;
  margin-bottom: 0.5em;
  padding: 0.5em 0;
  background: rgba(0, 0, 0, 0.25);
}
@media only screen and (max-width: 739px) {
  .page article {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
  }
}
.page aside {
  display: inline;
  float: left;
  width: 22.916666666666664%;
  margin-left: 1.0416666666666665%;
  margin-right: 1.0416666666666665%;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background: rgba(0, 0, 0, 0.25);
}
.page aside a {
  color: #f4f7f7;
}
@media only screen and (max-width: 739px) {
  .page aside {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
  }
}
.home .carousel {
  margin-bottom: 0.5em;
}
.home .carousel .slide {
  display: block;
  background: rgba(17, 17, 17, 0.19999999999999996);
  *zoom: 1;
}
.home .carousel .slide:before,
.home .carousel .slide:after {
  content: "";
  display: table;
}
.home .carousel .slide:after {
  clear: both;
}
.home .carousel .slide .image {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin-left: 1.0416666666666665%;
  margin-right: 1.0416666666666665%;
  height: 250px;
  background-repeat: no-repeat;
  background-position: center;
}
.home .carousel .slide .content {
  display: inline;
  float: left;
  width: 47.91666666666667%;
  margin-left: 1.0416666666666665%;
  margin-right: 1.0416666666666665%;
  position: relative;
  height: 250px;
  padding: 0.5em;
  color: #f4f7f7;
}
.home .carousel .slide .content p {
  margin-bottom: 0.5em;
}
.home .carousel .slide .content .read-more {
  position: absolute;
  left: 0.5em;
  bottom: 0.5em;
  font-weight: 600;
}
.home .carousel .slide:hover .read-more {
  text-decoration: underline;
}
@media only screen and (max-width: 739px) {
  .home .carousel .slide .image {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
    background-size: contain;
  }
  .home .carousel .slide .content {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
    height: auto;
    text-align: center;
  }
  .home .carousel .slide .content .read-more {
    position: static;
    display: block;
    margin-top: 0.5em;
  }
  .home .carousel .slide .content .read-more:before {
    content: "Click here to ";
  }
}
.home .info {
  margin-bottom: 0.5em;
  padding: 1em;
  background: rgba(17, 17, 17, 0.19999999999999996);
  *zoom: 1;
}
.home .info:before,
.home .info:after {
  content: "";
  display: table;
}
.home .info:after {
  clear: both;
}
.home .links {
  margin-bottom: 0.5em;
}
.home .links nav {
  *zoom: 1;
  background: rgba(17, 17, 17, 0.19999999999999996);
}
.home .links nav:before,
.home .links nav:after {
  content: "";
  display: table;
}
.home .links nav:after {
  clear: both;
}
.home .links nav a {
  color: #f4f7f7;
}
.home .links a {
  display: inline;
  float: left;
  width: 31.25%;
  margin-left: 1.0416666666666665%;
  margin-right: 1.0416666666666665%;
  padding: 1em 5%;
  color: #849235;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.025em;
}
.home .links a img {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
}
@media only screen and (max-width: 480px) {
  .home .links a {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
  }
}
.contact form {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin-left: 1.0416666666666665%;
  margin-right: 1.0416666666666665%;
  padding: 0.5em;
}
.contact form p {
  *zoom: 1;
  margin-bottom: 0.5em;
}
.contact form p:before,
.contact form p:after {
  content: "";
  display: table;
}
.contact form p:after {
  clear: both;
}
.contact form p:last-of-type {
  margin-bottom: 0;
}
.contact form label {
  line-height: 1.75em;
  display: inline;
  float: left;
  width: 34.375%;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
}
.contact form input,
.contact form textarea {
  color: #849235;
  display: inline;
  float: left;
  width: 59.375%;
  margin-left: 1.5625%;
  margin-right: 1.5625%;
}
.contact form input[type=submit],
.contact form textarea[type=submit] {
  float: right;
  padding: 0.25em 0;
  border: medium none;
  color: #f4f7f7;
  background: #b1d540;
}
.contact form input[type=submit]:hover,
.contact form textarea[type=submit]:hover {
  background: #bada55;
}
.contact form input[type=submit]:active,
.contact form textarea[type=submit]:active {
  background: #a8cf2d;
}
@media only screen and (max-width: 739px) {
  .contact form {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
  }
}
@media only screen and (max-width: 480px) {
  .contact form input,
  .contact form textarea {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
  }
  .contact form label {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
  }
}
.contact aside .contact-card {
  display: inline;
  float: left;
  width: 97.91666666666666%;
  margin-left: 1.0416666666666665%;
  margin-right: 1.0416666666666665%;
  padding: 0.5em;
  text-align: center;
  font-weight: 600;
  font-size: 0.75em;
}
.contact aside .contact-card img {
  margin: 0 12.5%;
  width: 75%;
  max-width: 200px;
  border: 4px solid #f4f7f7;
}
.contact aside .contact-card a {
  display: block;
  font-weight: 400;
  text-decoration: none;
  color: #f4f7f7;
}
.contact aside .contact-card a:hover {
  font-weight: 600;
}
.contact aside .contact-card + .contact-card {
  margin-top: 1em;
}
@media only screen and (max-width: 739px) {
  .contact aside .contact-card {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
    font-size: 1em;
  }
  .contact aside .contact-card a {
    margin-top: 0.5em;
  }
  .contact aside .contact-card + .contact-card {
    margin-top: 0;
  }
}
@media only screen and (max-width: 480px) {
  .contact aside .contact-card {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
  }
  .contact aside .contact-card + .contact-card {
    margin-top: 1em;
  }
}
.gallery .galleries .gallery {
  display: inline;
  float: left;
  width: 31.25%;
  margin-left: 1.0416666666666665%;
  margin-right: 1.0416666666666665%;
  text-align: center;
}
.gallery .galleries .gallery img {
  width: 100%;
  max-width: 180px;
  border: 4px solid #f4f7f7;
}
.gallery .galleries .gallery + .gallery + .gallery + .gallery {
  margin-top: 1em;
}
@media only screen and (max-width: 739px) {
  .gallery .galleries .gallery {
    display: inline;
    float: left;
    width: 47.91666666666667%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
  }
  .gallery .galleries .gallery + .gallery + .gallery {
    margin-top: 1em;
  }
}
@media only screen and (max-width: 480px) {
  .gallery .galleries .gallery {
    display: inline;
    float: left;
    width: 97.91666666666666%;
    margin-left: 1.0416666666666665%;
    margin-right: 1.0416666666666665%;
  }
  .gallery .galleries .gallery + .gallery {
    margin-top: 1em;
  }
}
