doctype html
<!--[if IE 7 ]> <html class="no-js lt-ie10 lt-ie9 lt-ie8 ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]> <html class="no-js lt-ie10 lt-ie9 ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]> <html class="no-js lt-ie10 ie9" lang="en"> <![endif]-->
<!--[if (gte IE 10)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
head
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")

	title Kilimanjaro 2015
	
	script(src="/js/vendor/modernizr.js")
	
	link(href="http://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,300italic,400italic,700,700italic,800,800italic,900,900italic", rel="stylesheet", type="text/css")

	link(href="/css/style.css", rel="stylesheet", type="text/css")
