extends jade/front-page

block vars
	- nav = "Home"

block content
	section.carousel
		a.slide(href="#")
			img.image(src="http://placehold.it/460x250/E3E6E6/849235")
			.content
				p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
					span.read-more Read More &rsaquo;
	
	//- section.verticalImg
	//- 	div
	//- 		span.helper
	//- 		img.image(src="http://placehold.it/460x200/E3E6E6/849235")

	section.info
		p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
		p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.
	
	section.links
		nav
			a(href="/blog/")
				img(src="http://placehold.it/200x200/E3E6E6/849235")
				span See what we've been blogging about
			
			a(href="/events/")
				img(src="http://placehold.it/200x200/E3E6E6/849235")
				span Read about our upcoming Events
			
			a(href="/gallery/")
				img(src="http://placehold.it/200x200/E3E6E6/849235")
				span Explore our Gallery