// Contact Us page styles

.contact {
	&:extend(.page all);
	
	article {
		.column(9);
		// .push(3);

		margin-bottom: 0.5em;

		padding: 0.5em;

		background: rgba(255,255,255,0.25);

		@media @breakpoint-mobile {
			.column(12);
		}
	}

	aside {
		.column(3);
		// .pull(9);

		margin-bottom: 0.5em;

		padding: 0.5em;

		background: rgba(255,255,255,0.125);

		@media @breakpoint-mobile {
			.column(12);
		}
	}
}