* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.wrap {
	// background: @sky-light;

	background-size: 100%;
}

.inner {
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;

	// border: 1px dotted black;

	.ie8 & {
		min-width: 960px;
	}

	.clearfix;
}

.parallax-bg {
	position: fixed;
	z-index: -1;

	width: 100%;
	height: 100%;

	background: @sky-light;

	svg {
		position: absolute;
		bottom: 0;

		width: 100%;

		// opacity: 0.75;
		
	}
}